@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .decorated option:hover{
    background-color: #9ce21b !important;
  }

  .yellow-header {
    background-color: #F3BB1B ;
    border:none !important;
}

.yellow-header1{
  border-top-left-radius: 12px;
}

.yellow-header5{
  border-top-right-radius: 12px;
}

.card{
  border-top-left-radius: 22px !important;
}

[role="row"] {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

/* navbar */

/* Navbar.css */
.mobile-menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 70%;
  height: 100vh;
  background: black;
  color: white;
  transition: left 0.3s ease-in-out;
  padding: 2rem 1rem;
  z-index: 20;
}

.mobile-menu.open {
  left: 0;
}

.mobile-menu .flex {
  justify-content: space-between;
  align-items: center;
}

.mobile-menu .space-y-4 {
  margin-top: 1rem;
}

/* *****Glassmorphism****** */
.glassmorph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 2rem;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.custom-toast {
  top: 4rem;
}


